body {
    background-color: #313663;
    color: #ffbb00;
    font-family: sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: .8em;
}

h1 {
    font-size: 4vw;
}
h2 {
    font-size: 8vw;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    color: #b6ffff
}